body{background-color: #eee;margin:0;overflow-y:scroll;overflow-x:hidden}
.item-container{width:100%;padding:0.5rem;background-color: #fff;display: flex;align-items: center;height: 3.5rem}
.item-container img{height: 3.5rem;width: 3.5rem}
.content{flex:1;margin: 0 1rem}
.title{font-size: 1rem;color: #000;margin-bottom:0.5rem}
.desc{font-size: 0.9rem;color: #999}
.desc span{float: right}
.allow-right{width:2rem;height: 3.5rem;background:transparent url(resource/allow_right.png) no-repeat;background-size:1.5rem 1.5rem;background-position: center}
.action-delete{background:#C95454}
.action-edit{background:#00BCD4}
.swipe-container{ margin-bottom:0.5rem; overflow: hidden; width: 140%;display: flex;-webkit-transition:all 0.3s linear;transition:all 0.3s linear;}
.swipe-container .action{width:20%;text-align:center;color:#fff;padding:0.5rem 0;line-height: 3.5rem;}
.swipeleft{transform:translateX(-28%);-webkit-transform:translateX(-28%);}